.main_container {
  background-color: aliceblue;
  min-height: 100vh;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: blacks;
}
.heading {
  text-align: center;
  margin: 10px;
}
.container {
  margin-top: 0px;
  width: 50%;
  min-height: 800px;
}
.colour {
  color: red;
}
.user_main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user_container {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.todo_container {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.user_container:hover {
  box-shadow: 1px 1px 1px 1px gray;
  cursor: pointer;
}
.row_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addUser {
  margin-right: 25px;
  flex-shrink: 0;
}
.submit_button {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.loader {
  text-align: center;
}
.split_container {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
